body{
    color: #222233;
    background-color: #AACCFF;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
table
{
    background-color: rgb(80, 172, 164);
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
H3 { 
    text-align: center 
}

.div1
{
    float: left;
    width: 20%;
}